@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@300;400&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

nav {
    background-color: #003049;
}

nav a {
    color: #FCBF49 !important;
}

section {
    padding: 2em;
}

.row {
    padding: 15px;
}

#inicio,
#sobre-mi,
#habilidades,
#proyectos,
#contacto {
    background-color: #EAE2B7;
    color: #003049;
}

footer {
    background-color: #003049;
    color: #FCBF49;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
